/* CSS Document */

@charset "UTF-8";

/* Custom typeface - Montserrat */

/* Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* General styling */

body {
  background-color: #e9e9e9;
  color: #1c1c1c;
  font-family: Montserrat, Calibri, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 0;
}

.warning {
  background: #ffdddd;
  color: #a00;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 0.1rem;
}

.site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
}

.site-main {
  background-color: white;
  border-radius: 1rem;
  filter: drop-shadow(0 0 1.5rem #d0d0d0);
  display: block;
  margin: 0.5rem;
  max-inline-size: 36rem;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

picture > img {
  border-radius: 50%;
  border: 0.3rem white solid;
  box-shadow: 0 0 0 0.05rem #d0d0d0;
  aspect-ratio: 1/1;
  display: block;
  margin: 2rem auto 1rem;
  inline-size: 8rem;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

h1 {
  margin: 0;
}

.flag {
  display: block;
  margin: 0;
  block-size: 1.8rem;
}

header > p {
  text-align: center;
  margin: 0.4rem auto 0;
}

hr {
  background-color: #d0d0d0;
  border: none;
  margin: 1.1rem auto;
  block-size: 0.07rem;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 2rem 0;
}

section > p,
section > ul {
  margin: 0.4rem 2rem 1.1rem;
}

ul {
  padding: 0 5rem 0 2rem;
  list-style-type: square;
}

li {
  margin: 0.4rem 0;
}

address {
  font-style: normal;
  margin: 0.4rem 2rem 0;
}

a {
  color: #2653dc;
}

a:hover {
  text-decoration: none;
}

footer > p {
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
}

.lang-select {
  margin-block-end: 1.1rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

button:hover {
  text-decoration: underline;
}

/* CSS for phone */

@media (max-width: 580px) {
  picture > img {
    border: 0.3rem white solid;
    inline-size: 6.5rem;
  }

  h2 {
    margin: 0 1rem 0;
  }

  section > p,
  section > ul {
    margin: 0.4rem 1rem 1.1rem;
  }

  ul {
    padding: 0 2rem 0;
  }

  address {
    margin: 0.4rem 1rem 0;
  }
}

